<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<stringAttribute key="bad_container_name" value="\freetle\src\test\scala\org\freetle\AppTest.launch"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/freetle"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.junit.runner.JUnitCore"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="org.freetle.AppTest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="freetle"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xmx8m -XX:-UseParallelGC -XX:ThreadStackSize=64 -XX:+HeapDumpOnOutOfMemoryError"/>
</launchConfiguration>
